name: Django CI

on:
  push:
    branches: [ "mint" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v3
  
    - name: Run Tests
      uses: appleboy/ssh-action@master
      with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          script_stop: true
          script: |
            cd ~/Actions_demo_django
            git pull https://${{ secrets.TOKEN }}@github.com/hayoonpark/Actions_demo_django
            docker-compose -f docker-compose-test.yml up
  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run Deploy
      run: |
        docker-compose -f docker-compose.yml up -d
      env:
        DB_HOST: ${{ secrets.DATABASES_HOST}}
        DB_PW: ${{ secrets.DATABASES_PASSWORD}}

